<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" thread-count="2" parallel= "classes">
  <test name="Test">
  <groups>
  <run>
  <include name="featureOne"/>
  <include name="featureTwo"/>
  </run>
  </groups>
<classes>
<class name= "testScripts.GroupSampleTest"/>
<class name= "testScripts.GroupTwoSampleThread"/>
</classes>
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
